html {
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 30px
}

body {
    background-color: whitesmoke;
}

hr {
    height: 5px;
    background-color: black;
    border: None;  
}

hr.top {
    float: left;
    width: 300px;
}

.Me {
    border: 5px solid black;
    width: 100px;
    height: auto;
    margin-right: 2px;
    float: right;
}
